<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.lottoweb.mapper.LottoExclusionMapper">
    <insert id="insert" parameterType="com.rs.lottoweb.domain.LottoExclusion">
    	INSERT INTO LottoExclusion(
    		round
    		, num
    	) VALUES (
    		#{round}
    		, #{num}
    	)
    </insert>
    
    <select id="selectByRound" resultType="Integer">
    	SELECT
    		num
    	FROM
    		LottoExclusion
    	WHERE
    		round = #{round}
    </select>
</mapper>
  
